.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__
.DS_Store
.idea
.nuxt/
node_modules/

.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.pyc
.settings/org.eclipse.wst.jsdt.ui.superType.container
*.name
.settings/.jsdtscope
*.project
.pydevproject
.README.md.html
./build/
.vscode/settings.json

